html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
	margin:0;
	padding:0;
	height: 100%;
	background: #30444b;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
}

.photos {
	display: flex;
	flex-wrap: nowrap;
	margin-left: auto;
	margin-right: auto;
}

.photos img {
	padding: 1px;
}

.img_container img{
	min-width: 0;
	min-height: 0;
	width: 100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-left:5%;
	padding-right:5%;
	padding-top:1%;
	padding-bottom:1%;
	margin-bottom:2%;
	background: #1a1a1a;
	border-radius: 10px;
	color:lightgray;
}

#navbar {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 3%;
	background: rgba(0, 0, 0, 0.8);
}

.active {
	font-weight: bold;
}

.navbar-link {
	padding: 10px;
	color: white;
	border: 1px solid black;
	flex-grow: 1;
	text-align: center;
	text-decoration: none;
}

a.navbar-link:hover {
	background-color: #444444;
}

#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:30px;
}

#page-header {
	background: rgba(0, 0, 0, 0.8);
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
}

#page-header a {
	color: white;
	text-decoration: none;
}

#page-header a:visited {
	color: white;
	text-decoration: none;
}

#bio {
	height: 100%;
	overflow: auto;
}

#bio img{
	float: left;
	margin-bottom: 2%;
	border: 3px solid black;
	width: inherit;
}

#bio p {
	padding-left: 5%;
	display: block;
	overflow: auto;
	margin-left: 0px;
	text-align: justify;
}

#footer {
	display: flex;
	justify-content: space-around;
	margin-top: 2%;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
}

#footer a:visited {
	color: #FFFFFF;
}

#footer a:link {
	color: #FFFFFF;
}

#headshot_container {
	width: 50%;
}

.video {
	margin: 3em;
	text-align: center;
}